# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
terraform.tfvars
*.backup
*.tfplan

# Logs & archives
*.log
*.zip

# Editor/OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Generated GoldenGate parameter files
gg-config/*.prm
gg-config/pre-cutover-*.sh
